<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Listado de Proveedores</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Listado de Proveedores</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
            </tr>
        </thead>
        <tbody>
            {% for proveedor in proveedores %}
            <tr>
                <td>{{ proveedor.nombre }}</td>
                <td>{{ proveedor.apellido }}</td>
                <td>{{ proveedor.dni }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'agregar_proveedor' %}" class="btn btn-primary">Agregar nuevo proveedor</a>
</div>
</body>
</html>
